body {
    padding-top: 50px;
    padding-bottom: 20px;
    position: relative;
    height: 100%;
    background-image: url('../images/concrete background.jpg');
    background-size: cover;
    overflow: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

footer {
    display: flex;
    justify-content: center;
    color: black;
    font-weight: bold;
    font-size: 16px;
}

th {
    color: black;
}

hr {
    border-top: 2px solid black;
}

.navbar {
    background: rgba(34, 34, 34, 0.9)
}

.text-main {
    color: #000000;
    text-decoration: none !important;
}

.my-input {
    background-color: transparent;
}

.form-color {
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.6) 100%);
    background: linear-gradient(to bottom, rgb(113, 110, 110, 0.8) 0%, rgba(58, 57, 57, 0.6) 100%);
    -webkit-transition: opacity 0.1s, -webkit-transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25);
    transition: opacity 0.1s, -webkit-transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25);
    transition: opacity 0.1s, transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25);
    transition: opacity 0.1s, transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25), -webkit-transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25);
    -webkit-transform: scale(1);
    transform: scale(1);
    color: #e0e0e0;
    border-radius: 8px;
}

.form-control {
    border: 1px solid #343434;
}

.on-one-row {
    white-space: nowrap;
}

.photo {
    margin-top: 10px;
    margin-bottom: 10px;
}

.comment-textarea {
    background-color: rgb(255, 255, 255,0.4);
    border-radius: 5px;
    border-color: #808080;
    resize: none;
}

.stuck {
    margin-top: 10px;
    bottom: 10px;
    overflow: auto;
    max-height: 182px;
    background-color: #808080;
}

.main-view {
    margin: 20px;
    left: 13%;
    right: 13%;
}

.my-row {
    display: flex;
    margin-left: 12px;
}

.picture {
    padding:0;
}

.profile-image {
    width: 200px;
    height: 200px;
}

.comment {
    text-align: justify;
    word-break: break-all;
}

.avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: absolute;
    float: left;
    margin-left: -20px;
    -moz-force-broken-image-icon: 1;
}

.name {
    font-size: 24px;
    padding-left: 35px;
    padding-top: 10px !important;
    display: inline-block;
}

.header {
    padding: 10px 10px 2px;
}

.date {
    padding-top: 20px;
    padding-left: 5px;
    font-size: 13px;
    color: black;
}

.edit-delete {
    width: 160px;
    height: 35px;
}

.edit-img {
    width: 60px;
    height: 35px;
    float: left;
    border-right: 1px solid rgb(85, 85, 85);
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 2px;
    padding-right: 2px;
}

.delete-img {
    width: 100px;
    height: 35px;
    float: right;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 2px;
    padding-right: 2px;
}

.add-img {
    height: 110px !important;
}

.add-button {
    margin-top: 2px;
    margin-bottom: 3px !important;
    border-bottom: 1px solid rgb(85, 85, 85);
}

.delete-picture {
    float: right;
    height: 35px;
    width: 130px;
}

.edit-picture {
    float: right;
    height: 35px;
    width: 90px;
}

.edit-delete-panel {
    background-color: rgb(255, 255, 255,0.2);
    border-color: none !important;
    border-radius: 5px !important;
    padding: 3px;
    margin-right: 10px;
}

.set-picture {
    float: right;
    height: 35px;
    width: 140px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.comment-name {
    padding-left: 50px;
}

.comment-avatar {
    width: 36px;
    height: 36px;
    border-radius: 10%;
    position: absolute;
    float: left;
    margin: 5px;
}

.comment-content {
    padding-left: 55px;
    color: rgb(164, 164, 164);
}

.comment-date {
    font-size: 11px;
}

.delete-comment {
    padding-right: 8px !important;
    padding-top: 3px !important;
}

.not-found {
    margin: auto;
    display: flex;
    height: 600px;
}

.back {
    padding-top: 7px;
    padding-bottom: 12px;
    font-size: 16px;
}

.message-avatar {
    width: 104px;
    height: 104px;
    border-radius: 10%;
    position: absolute;
    float: left;
    margin: 5px;
}

.message-name {
    padding-left: 120px;
    font-size: 24px;
}

.message-container {
    margin-top: 10px;
    bottom: 10px;
    overflow: auto;
    height: 470px;
}

.message-content {
    padding-left: 130px;
    color: rgb(164, 164, 164);
    text-align: justify;
    word-break: break-all;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.messaage {
    padding-bottom: 40px;
    padding-left: 20px;
}

.message-picture {
    width: 48px;
    height: 48px;
    border-radius: 10%;
    position: absolute;
    float: left;
    margin: 5px;
}

.message-date {
    padding-left: 8px;
    font-size: 12px;
}

.mess-date {
    padding-left: 60px;
    font-size: 12px;
}

.mess-content {
    padding-left: 70px;
    color: rgb(164, 164, 164);
    text-align: justify;
    word-break: break-all;
}

.user {
    padding-left: 10px;
    padding-bottom: 25px;
}

.user-name {
    display: block;
    padding-top: 10px;
    padding-left: 120px;
    font-size: 24px;
}

.username {
    padding-top: 10px;
    padding-left: 125px;
    font-size: 16px;
}

.register-greeting {
    font-size: 100px;
    margin: auto;
    color: rgb(35, 35, 35);
}

.my-btns {
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.27);
    color: black;
    font-size: 16px;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    margin-top: 5px;
    font-weight: bold;
}

    .my-btns:hover {
        -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 121, 204, .75);
        -moz-box-shadow: 0px 0px 15px 5px rgba(0, 121, 204, .75);
        box-shadow: 0px 0px 15px 5px rgba(0, 121, 204, .75);
        background-color: transparent;
        color: black;
    }

::placeholder {
    color: black;
}

.search-button {
    margin-left: 10px;
    margin-top: auto;
}

figure.snip1578 figcaption.manage-menu {
    margin-left: 40px;
}

div .manage-menu {
    margin-left: 60px;
}

.manage-options {
    margin-top: 30px;
}

.flex {
    display: flex;
}

.zoom {
    padding: 0;
}

.hr-pic {
    border-top: 0.5px solid #807b7b;
}

.search-profile {
    padding-left: 20px;
    padding-bottom: 48px;
}

.profile-name {
    padding-left: 120px;
    font-size: 24px;
    margin-top: 20px;
}

.profile-info {
    margin-top: 5px;
}

.comments-section {
    padding: 0 0 0 9px;
}

.search-input {
    width: 250px;
    float: left;
}

.search-div {
    overflow: hidden;
    padding-right: .5em;
}

input.none {
    display: none;
}

a.size-26 {
    font-size: 26px;
}

.text-danger {
    color: #7d0101
}

.a-admin {
    color: #0001ac;
}

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #444;
    border-radius: 0px;
}

.table-bordered {
    border-radius: 0px;
    border: 1px solid #444;
}

.picture-album {
    padding: 1px;
    height: 260px;
}

.comment-hide-long-name {
    display: block;
    width: 240px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}