@using SocialMedia.Views.Manage
@inject SignInManager<User> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<ul class="nav nav-pills nav-stacked">
    <li class="@ManageNavPages.IndexNavClass(ViewContext)"><a class="text-main" asp-action="Index">Profile</a></li>
    <li class="@ManageNavPages.ChangePasswordNavClass(ViewContext)"><a class="text-main" asp-action="ChangePassword">Password</a></li>
    <li class="@ManageNavPages.ChangeProfilePictureClass(ViewContext)"><a class="text-main" asp-action="ChangeProfilePicture">Profile Picture</a></li>
    <li class="@ManageNavPages.AccountSettingsClass(ViewContext)"><a class="text-main" asp-action="AccountSettings">Account Settings</a></li>
</ul>

