@model ChangePicture
@{
    ViewData["Title"] = "Change Profile Picture";
    ViewData.AddActivePage(ManageNavPages.ChangeProfilePicture);
}
<a class="glyphicon glyphicon-arrow-left text-main back" href="back" onClick="history.go(-1); return false;">Back</a>

<h4 class="text-main">@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6 text-main form-color text-main">
        <form method="post" enctype="multipart/form-data">
            <br />
            <div class="form-group">
                <input type="file" name="ProfilePicture" style="display: none" />
                <button type="button" class="btn my-btns" onclick="document.getElementsByName('ProfilePicture')[0].click()">Choose picture!</button>
            </div>
            <button type="submit" class="btn my-btns">Save</button>
        </form>
        <br />
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
