@page
@model SocialMedia.Pages.Search.Pictures2Model
@{
    ViewData["Title"] = "Pictures";
}

<h1 class="text-main">Search Pictures</h1>
<a asp-page="./Pictures2" asp-route-SearchString="@string.Empty" class="text-main">
    Pictures
</a>
<a asp-page="./Users2" asp-route-SearchString="@string.Empty" class="text-main">
    Users
</a>
<form asp-page-handler="Pictures" method="post">
    <input class="form-control my-input text-main form-color" type="text" id="SearchString" name="SearchString" placeholder="Search picture by description" style="width: 250px;float: left">
    <div style="overflow: hidden; padding-right: .5em;">
        <button type="submit" class="btn my-btns search-button">Search</button>
    </div>
</form>
<br />
@if (Model.Pictures != null)
{
    <div class="container form-color">
        @foreach (var pic in Model.Pictures)
        {
            <div class="col-md-1">
                <a asp-area="" asp-controller="Pictures" asp-action="Index" asp-route-id="@pic.Id" class="zoom">
                    <img src="@pic.Photo" class="img-responsive photo" />
                </a>
            </div>
        }
    </div>
}
